#logo {
    display: inline-block;
    position: relative;
    width: 30%;
    margin-top: 20px;
    margin-bottom: -30px;
}

#pierwszy {
    background-color: khaki;
    display: inline-block;
    text-align: right;
    width: 15%;
    position: absolute;
}

#drugi {
    background-color: indianred;
    display: inline-block;
    text-align: left;
     width: 12%;
    position: absolute;
    bottom: 500px;
    left: 375px;
    z-index: -1;
    
}
#trzeci {
  background-color: slategray;
  width: 120px;
  position: relative;
  left: 280px;
  top: 95px;
}

td, th {

    background-color: floralwhite;  
    color: tomato;
    font-family: sans-serif;
    font-size: 15px;     
    font-weight: 90;
    text-align: center;
    
    border: 2px;
    border-style: solid;
    border-color: black;
}

table {
      margin-left: 400px;
}


header {                 
    color: black; 
    font-family: sans-serif;  
    font-size: 30px;      
    text-align: center;
    margin-bottom: 30px;
}

.zdjecie {
    display: inline-block;
    position: relative;
    width: 15%;
    height: 25%;
    margin-left: 10px;
}

.prognoza {
    font-style: italic;
}

h1 {
    font-style: italic;
    font-size: 22px;
}

button {
    border: 2px solid black;
    border-radius: 3px;
    margin-bottom: 5px;
    width: 10%;
}

body {
    background-color: beige;
    text-align: left;
    display: inline-block;
    
    margin-left: 23px;
}

footer {
    background-color: pink;  
    color: blueviolet;  
    font-family: sans-serif;  
    font-size: 10px;  
    text-align: right;
    width: 100%;
  }